/*Thu June 11, 2020 
	68-71. CSS Blog from Scratch Exercise*/
body{
	border: 20px solid gray;
	width: 60%;
	/*max-width: 700px; and width 80% so that if
		you shrink the window size, the body scales
		to 80% once it goes under 700px.s*/
	font-family: "Source Sans Pro";
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px auto 0 auto;
}
.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2em;/*could also use 0.2rem like
		how Colt Steele uses in itemvideo 70.*/
}
h2 {
	font-size: 30px;
	font-weight: 700;
	color: #2c3e50;
}
.firstpara{
	padding-left: 4px;
	border-left: 4px solid grey;
}
hr {
	border: 1px solid grey;
}