<!-- Saturday October 3, 2020 -->
<%- include("partials/header") %> 
<h1>This is the home page!</h1>

<img src="https://cdn-ds.com/blogs-media/sites/261/2019/10/07145822/2020-Toyota-Camry-Galactic-Aqua-Mica_o.jpg">
<%- include("partials/footer") %>